.main-content {
    margin:170px auto 20px;
    color: #555;
    max-width: 1000px;
    line-height: 1.5;
    padding-left:20px;
    padding-right:20px;
    text-align: justify;
    font-family: sans-serif;
}
.main-content h3 {
    color: tomato;
}
.header {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 150px;
    background: #FF6347;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:0.5s;
}
.header-list {
    list-style: none;
    padding:0;
    margin:0;
    display: flex;
}
.header-list-el {
    border-right:1px solid rgba(255,255,255,0.1);
}
.header-list-el:last-child {
    border:0;
}
.header-list-link {
    color: inherit;
    display: block;
    padding:10px 20px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}
.header.sticky {
    height: 60px;
    background: firebrick;
    box-shadow: 0 1px 6px rgba(0,0,0,0.2), 0 1px 3px rgba(0,0,0,0.4);
}
@media (max-width:600px) {
    .header,
    .header.sticky {
        position: absolute;
        transition: none;
        height: 100px;
        box-shadow: none;
    }
}